{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
        <h3>Modifier mon mot de passe</h3>
        <center><a href="{{ path('account')}}">Retour au dashboard</a></center>

         {% if notification %}
        <div class='alert alert-info'>{{ notification }}</div>
         {% endif %}

         {{form(form)}}


        </div>
<!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->


{% endblock %}

{% block footer %}{% endblock %}