{% extends 'base.html.twig' %}

{% block title %}Nos conditions - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<br/>
<br/>
<section id="services" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
        

          <div class="content" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <center><h2>CONDITIONS GÉNÉRALES D'UTILISATION</h2></center></br>
<p>
Les présentes conditions générales régissent l’utilisation de ce site : https://gusto-cowork.fr</br>
Ce site appartient et est géré par Gusto-Coffee SARL.</br>
En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d’utilisation et que vous acceptez de les respecter en tout temps.</br>
<center>Type de site : Réservation en ligne et vente de produit.</center>
</p>

<p>
<h2>Propriété intellectuelle</h2></br>
Tout contenu publié et mis à disposition sur ce site est la propriété de Gusto-Coffee et de ses créateurs.</br>
Cela comprend, mais n’est pas limité aux images, textes, logos, documents, fichiers téléchargeables et tout ce qui contribue à la composition de ce site.
</p>


<p>
<h2>Restrictions d'âge</h2></br>
L’âge minimum pour utiliser ce site est de 18 ans. Les utilisateurs conviennent qu’en utilisant notre site, ils ont plus de 18 ans.</br>
Nous n’assumons aucune responsabilité juridique pour les fausses déclarations sur l’âge.
</p>


<p>
<h2>Comptes</h2></br>
Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit :</br></br>

Que vous êtes seul responsable de votre compte et de la sécurité et la confidentialité de votre compte, y compris les mots de passe ou les renseignements de nature délicate joints à ce compte.</br></br>
Que tous les renseignements personnels que vous nous fournissez par l’entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez à jour vos renseignements personnels s’ils changent.</br></br>
Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez notre site illégalement ou si vous violez les conditions d’utilisation acceptable.
	
</p>

<p>
<h2>Ventes des biens et services</h2></br>
Ce document régit la vente des biens et services mis à disposition sur notre site.</br>
Les biens que nous offrons comprennent : Produit d'alimentation </br>
Les services que nous offrons comprennent : Réservation d'espaces </br></br>
Les biens et services liés à ce document sont les biens et services qui sont affichés sur notre site au moment où vous y accédez. Cela comprend tous les produits énumérés comme étant en rupture de stock. Toutes les informations, descriptions ou images que nous fournissons sur nos biens et services sont décrites et présentées avec la plus grande précision possible. Cependant, nous ne sommes pas légalement  tenus par ces informations, descriptions ou images car nous ne pouvons pas garantir l’exactitude de chaque produit ou service que nous fournissons. Vous acceptez d’acheter ces biens et services à vos propres risques.			
</p>

<p>
<h2>Paiements</h2></br>
Nous acceptons les modes de paiement suivants sur ce site : Carte bancaire

Lorsque vous nous fournissez vos renseignements de paiement, vous nous confirmez que vous avez autorisé l’utilisation et l’accès à l’instrument de paiement que vous avez choisi d’utiliser. </br>
En nous fournissant vos détails de paiement, vous confirmez que vous nous autorisez à facturer le montant dû à cet instrument de paiement.</br>
Si nous estimons que votre paiement a violé une loi ou l’une de nos conditions d’utilisation, nous nous réservons le droit d’annuler votre transaction.	
</p>

<p>
<h2>Services</h2></br>
Les services seront facturés en totalité à la commande du service.
</p>

<p>
<h2>Limitation de responsabilité</h2></br>
Gusto-Coffee ou l’un de ses employés sera tenu responsable de tout problème découlant de ce site. </br>
Néanmoins, Gusto-Coffee et ses employés ne seront pas tenus responsables de tout problème découlant de toute utilisation irrégulière de ce site.
</p>

<p>
<h2>Lois applicables</h2></br>
Ce document est soumis aux lois applicables en France et vise à se conformer à ses règles et règlements nécessaires.</br>
Cela inclut la réglementation à l’échelle de l’UE énoncée dans le RGPD.
</p>


<p>
<h2>Divisibilité</h2></br>
Si, à tout moment, l’une des dispositions énoncées dans le présent document est jugée incompatible ou invalide en vertu des lois applicables.</br>
Ces dispositions seront considérées comme nulles et seront retirées du présent document. </br>
Toutes les autres dispositions ne seront pas touchées par les lois et le reste du document sera toujours considéré comme valide.
</p>


<p>
<h2>Modifications</h2></br>
Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir le respect de la loi et de refléter tout changement à la façon dont nous gérons notre site et la façon dont nous nous attendons à ce que les utilisateurs se comportent sur notre site. </br>
Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps à autre pour s’assurer qu’ils sont informés de toute mise à jour. </br>
Au besoin, nous informerons les utilisateurs par courriel des changements apportés à ces conditions ou nous afficherons un avis sur notre site.
</p>





            </div>
          </div>

        </div>
      </div>

      <br/>
       <br/>
        <br/>


    </section><!-- Fin services -->




{% endblock %}

{% block footer %}{% endblock %}