{% extends 'base.html.twig' %}

{% block title %}Covid-19 - Gusto-Cowork{% endblock %}

{% block navbar %} {% endblock %}



{% block content %}




<section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <div class="row">


        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Respecter les gestes barrières</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link " data-bs-toggle="pill" href="#tab1">Luttons contre le Covid !</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                 <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Gusto-Coffee vs Covid-19</h4>
                </div>
                <p>Nous modifions l'espace public en déplaçant les sièges et en ajoutant des zones tampons afin que l'équipe respecte une saine distance sociale dans l'espace de travail.</p>
                
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Désinfection</h4>
                </div>
                <p>Nous désinfectons fréquemment les espaces publics et vous fournisons gratuitement des produits de désinfection dans nos locaux.</p>

                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Nouvelles normes de propreté</h4>
                </div>
                <p>Les nouvelles normes de propreté et les accords sur la densité des bureaux seront renforcés en plaçant des panneaux dans des endroits stratégiques.</p>
              </div>
              
              <!-- End Tab 1 Content -->

              
            </div>

          </div>

          <div class="col-lg-6">
            <img src="assets/img/covid.png" class="img-fluid" alt="gusto-covid">
          </div>

        </div><!-- End Feature Tabs -->

      </div>

    </section><!-- End Features Section -->


{% endblock %}

{% block footer %}{% endblock %}