{% extends 'base.html.twig' %}

{% block title %}Foire-Aux-Question - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
        <h3>Foire aux question</h3>

    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    Comment puis-je me connecter au réseau Gusto-WiFi ?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Une fois arrivé sur votre lieux de coworking, le mot de passe WIFI est : YesJonni
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Quelle est la politique Wi-Fi de Gusto-Coffee ? Quelle est la vitesse Internet du lieu ?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Nos membres peuvent accéder au Wi-Fi via notre réseau partagé «GustoWifi». Ce réseau sans fil peut être utilisé dans tous nos bâtiments. Dans tous les sites de Gusto-Coffee, la bande passante Internet est partagée, mais nos membres peuvent compter sur un accès réseau fiable pour effectuer des tâches standard.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Que faire si mon port Ethernet ou ma connexion Internet cesse de fonctionner ?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Si le port Ethernet ou la connexion Internet cesse de fonctionner, assurez-vous que votre ordinateur est connecté au Wi-Fi approprié («GustoWifi»), ou si vous utilisez une connexion filaire, il est correctement branché dans la prise murale. Si le problème persiste, veuillez envoyer une demande d'assistance et notre équipe informatique viendra vous aider.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Quels appareils sont compatibles avec le Gusto-Wifi ?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Les systèmes d'exploitation suivants sont pris en charge dans les versions de bureau, portable et mobile : Windows, macOS, Linux, Chrome, IOS et Android
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Quand dois-je contacter le centre d'appel d'urgence ?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Si vous avez des questions sur la sécurité, veuillez nous contacter, y compris les problèmes de verrouillage de la carte d'accès et d'accès au bâtiment. Si vous avez des questions, n'hésitez pas à nous contacter: nous ferons de notre mieux pour vous aider.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                   Les employés de Gusto-Coffee peuvent-ils me demander des informations personnelles ou financières ?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Afin de protéger nos membres contre les activités de phishing et les fuites potentielles d'informations personnelles, Gusto-Coffee interdit à ses employés de poser des questions aux membres sur leur vie personnelle ou leurs coordonnées bancaires par téléphone ou par courrier électronique.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->


        </div>
<!-- End Feature Icons -->

      </div>
<br>
<br>
<br>
<br>
<br>

    </section><!-- End Features Section -->


{% endblock %}

{% block footer %}{% endblock %}