{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <div class="row">


        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
           

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill">Réinitialiser mon mot de passe - Etape 1</a>
              </li>
            </ul><!-- End Tabs -->

    {% for message in app.flashes('notice') %}
            <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}

    <div class="card">
  <div class="card-header">
    Mot de passe oublié ?
  </div>


<div class="card-body">

    <form method="post">


    <label for="inputEmail">Votre email :</label>
    <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Veuillez saisir votre email" required autofocus>

    </br>
    <button class="btn btn-lg btn-warning" type="submit">
        Valider
    </button>
</form>
<br/>
Ou souhaitez-vous  <a href="{{path('app_login')}}">vous connecter</a> ?
<br/>
<br/>

              
            </div>

          </div>

          

        </div><!-- End Feature Tabs -->

            <div class="col-lg-4">
            <img src="{{asset('assets/img/forgot.png')}}" class="img-fluid" alt="gusto-mot-de-passe-oublie">
          </div>
      </div>

    </section><!-- End Features Section -->


{% endblock %}

{% block footer %}{% endblock %}