{% extends 'base.html.twig' %}

{% block title %}Confirmation - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}


      <section id="features" class="features">

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
        <div class="container">
          <h3>Confirmation de votre réservation !</br></h3>
          <h3><a href="{{path('account_reservation')}}">Voir ma réservation</a></h3>
          <h3>Une petite faim ? <a href="{{ path('product')}}">cliquez-ici</a></br></h3>
          <h3>A très bientôt dans nos bureaux.</br></h3>
          <center><a href="{{ path('account')}}">Retour au dashboard</a></center>
            </div>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>

          
            
      </div>

    </section>

{% endblock %}

{% block footer %}{% endblock %}