{% extends 'base.html.twig' %}

{% block title %}Confirmation - Gusto-Cowork{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}


      <section id="features" class="features">

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Confirmation de votre commande !</h3>
          <h3>Pour récuperer vos produits, présentez-vous au guichet avec votre numéro de commande.</br></h3>
          <center><a href="{{ path('account_order')}}">Cliquez-ici avoir votre numéro de commande !</a></center>

          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>

          
            
      </div>

    </section>

{% endblock %}

{% block footer %}{% endblock %}