{% extends 'base.html.twig' %}

{% block title %}Page introuvable - Gusto-Coffee{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <div class="row">
        
        <div class="text-center">
        <img src="{{asset('assets/img/404.png')}}" style="width: 450px">
        </div>

      </div>

    </section><!-- End Features Section -->


{% endblock %}

{% block footer %}{% endblock %}